.slide {
    min-width:18% !important;
    width: 70% !important;
}


.product-name{
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.55rem;
    margin: 0;
    width: 100%;
    height: 50px;
    text-align: center;
}

.product-details > span{
    font-weight: 900;
    --tw-text-opacity: 1;
    color: rgb(22 101 52 / var(--tw-text-opacity, 1));
    border-color: hsl(var(--border));
}


.carousel-button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    background-color: white;
    border-color: hsl(var(--input));
    border-width: 1px;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    white-space: nowrap;
    color: green;
}


